page {
	--grey: #F2F2F2;
	--greyFontColor: rgba(0, 0, 0, 0.3);
	background-color: var(--themeBackgroundColor);
}

// 标题
.van-nav-bar {
	background-color: var(--themeBackgroundColor) !important;
}
.van-icon:before {
	color: var(--fontColor) !important;
	font-size: 36rpx !important;
}
.van-nav-bar__text {
	margin-left: -12rpx !important;
	color: var(--fontColor) !important;
	font-size: 36rpx !important;
	line-height: 36rpx !important;
	background-color: transparent !important;
}

.user-avatar {
	position: absolute;
	top: 15%;

	width: 192rpx;
	border-radius: 100%;
	margin-left: 80rpx;
}

.input-area {
	position: absolute;
	top: 30%;
	width: 100%;

	.tag {
		margin: 32rpx 80rpx;
		color: var(--greyFontColor);

		.shopName {
			display: inline;
			color: var(--themeColor);
		}
	}

	.input-shopName {
		background-color: var(--grey);
		border-radius: 5rpx;
		margin: 0 32rpx;
		height: 96rpx;

		font-size: 28rpx;

		display: flex;
		align-items: center;

		input {
			width: 100%;
			margin: 0 48rpx;
		}
	}
}

#affirm {
	position: absolute;
	top: 70%;
	left: 55%;
	height: 100rpx;
	width: 250rpx;

	display: flex;
	align-items: center;
	justify-content: center;

	background-color: var(--themeColor);
	color: white;
}