page{
    background-color: var(--themeBackgroundColor);
}

.user-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    padding:10rpx;

    .user-avatar{
        width: 110rpx;
        height: 110rpx;
        border-radius: 55rpx;
        margin: 20rpx;
    }

    .user-nickname{
        font-size: 40rpx;
        margin: 0 0 0 20rpx
    }
}