page{
    background-color: var(--themeBackgroundColor);
}

.user-info{
    border-radius: 20rpx;
    background-color: white;
    padding:10rpx;
    margin: 0 15rpx;

    display: flex;
    flex-direction: row;
    align-items: center;

    .user-avatar{
        width: 110rpx;
        height: 110rpx;
        border-radius: 55rpx;
        margin: 20rpx;
    }

    .user-nickname{
        font-size: 40rpx;
        margin: 0 0 0 20rpx
    }
}

.my-page{
    height: 80rpx;
    border-radius: 20rpx;
    background-color: white;
    margin: 10rpx 15rpx;

    display: flex;
    justify-content: center;
    align-items: center;
}